[Unit]
Description=Log arrival time

[Service]
Type=oneshot
User=philipps
Group=philipps
ExecStart=/home/philipps/bin/time_table/arrive

[Install]
WantedBy=multi-user.target